ul {
	background-color: #505050;
	list-style-type: none;
	overflow: hidden;
	margin-bottom: -20px;
	margin-left: -40px;
}

header {
	background-color: #787878;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

li a.link {
    
   display: block;
   padding: 16px 16px;
   color: white;
   font-size: 20px;
   text-decoration: none;
}


li {
	float: left;
}

a:hover {
	background-color: #383838;
}

#title {
  text-align: center;
}