ul {
	background-color: #6B98B7;
	list-style-type: none;
	overflow: hidden;
	margin-bottom: -20px;
	margin-left: -40px;
}

header {
	background-color: #A3CFED;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

li a.link {
    
   display: block;
   padding: 16px 16px;
   color: white;
   font-size: 20px;
   text-decoration: none;
}


li {
	float: left;
}

a:hover {
	background-color: #383838;
}

#title {
  text-align: center;
}

#div {
  background-color: #fafafa;
  width: 250;
  height: 250;
  display: inline-block;
  padding: 10px;
}

#size {
  text-align: right;
}

#name {
  text-align: center;
}

#description {
  text-align: center;
}

div#div: hover {
  background-color: #F0F0F0;

}